# req for ttfs
jupyter
matplotlib
scipy
numpy
# for gpu users, python3.8
#tensorflow-gpu
# for gpu users, >python3.8
#tensorflow[and-cuda]
# for cpu-only users
tensorflow
# reg for lava
networkx
asteval
scikit-learn
pandas 
ipykernel 
nbformat
nbconvert

